<?xml version="1.0"?>
<launch>
    <!-- whether to use Kyoto or CASAS object locations -->
    <arg name="lab" default="false" />

    <!-- Start camera, but don't override model of where camera is -->
    <include file="$(find astra_launch)/launch/astra.launch">
        <arg name="publish_tf" value="false" />
    </include>

    <!-- Object Detector, pick either TensorFlow or YOLO -->
    <include file="$(find object_detection)/launch/object_detector.launch" />
    <!--<include file="$(find darknet_ros)/launch/darknet_ros.launch" />-->

    <!-- Take point cloud and bounding boxes to find object 3D locations -->
    <include file="$(find object_detection)/launch/find_objects.launch" />

    <!-- Save object locations to the database -->
    <include file="$(find object_detection)/launch/update_object_db.launch" />

    <!-- Service to query object locations from the database -->
    <!-- For our experiments, fake the object locations -->
    <group if="$(eval lab == true)">
        <arg name="object_locations" value="$(find object_detection)/object_locations_lab.yaml" />
        <node name="object_db_service" pkg="object_detection" type="object_db_service.py">
             <param name="file" value="$(arg object_locations)" />
        </node>
    </group>
    <group if="$(eval lab == false)">
        <arg name="object_locations" value="$(find object_detection)/object_locations.yaml" />
        <node name="object_db_service" pkg="object_detection" type="object_db_service.py">
             <param name="file" value="$(arg object_locations)" />
        </node>
    </group>

    <!-- Zero the pan tilt so camera is in a good position -->
    <include file="$(find object_detection)/launch/pantilt.launch" />
    <node name="zero_pan_tilt" pkg="object_detection" type="zero_pan_tilt.py" />
</launch>
