<?xml version="1.0"?>
<launch>
    <!-- Object Detector, pick either TensorFlow or YOLO -->
    <!--<include file="$(find ras_jetson)/launch/object_detector.launch" />-->
    <include file="$(find darknet_ros)/launch/darknet_ros.launch" />

    <!-- Take point cloud and bounding boxes to find object 3D locations -->
    <include file="$(find ras_jetson)/launch/find_objects.launch" />

    <!-- Save object locations to the database -->
    <include file="$(find ras_jetson)/launch/update_object_db.launch" />

    <!-- Service to query object locations from the database -->
    <node name="object_db_service" pkg="ras_jetson" type="object_db_service.py" />

    <!-- Zero the pan tilt so camera is in a good position -->
    <include file="$(find ras_jetson)/launch/pantilt.launch" />
    <node name="zero_pan_tilt" pkg="ras_jetson" type="zero_pan_tilt.py" />

    <!-- Start camera, but don't override model of where camera is -->
    <include file="$(find astra_launch)/launch/astra.launch">
        <arg name="publish_tf" value="false" />
    </include>
</launch>
